<app-loader></app-loader>
<img id="bg" src="./assets/img/jcole_bg.jpg">
<main>
    <section class="hero">
        <div class="container">
            <div class="hero-inner">
                <div class="hero-copy">
                    <p class="hero-subtitle is-revealing m-0">New Single</p>
                    <h1 class="hero-title h2-mobile mt-0 is-revealing">Rock and a Hard Place</h1>
                    <p class="hero-cta is-revealing"><a class="button button-primary button-shadow" href="#listen">Listen Now</a></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="section-inner">
              
            </div>
        </div>
    </section>
</main>
